@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda&display=swap');

.qsn_container {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bloc_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


/* Partie présentation de l'entreprise */

.histoire h1 {
    text-align: center;
    border-bottom: black 2px solid;
}

.presentation .groupecfr {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: justify;
    flex-direction: row;
}

.presentation .groupecfr img {
    height: 350px;
    width: 600px;
    border-radius: 61% 39% 48% 52% / 43% 79% 21% 57% ;
    box-shadow: rgba(240, 201, 95, 0.4) -5px 5px,
                rgba(240, 201, 95, 0.3) -10px 10px, 
                rgba(240, 201, 95, 0.2) -15px 15px, 
                rgba(240, 201, 95, 0.1) -20px 20px, 
                rgba(240, 201, 95, 0.05) -25px 25px;
}

.presentation .groupecfr .text_groupecfr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.presentation .text_groupecfr .par1 {
    width: 80%;
    line-height: 2.2rem;
    margin: 2%;
}

.presentation .titre_section {
    align-self: flex-start;
    width: 100%;
    border-bottom: black 2px solid;
}

/* Le mot de la dirigeante */

.zohra_dirigeante {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: #004CAE;
    color: #fff;
    border-radius: 0.4em;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 8%), 0 2px 2px hsl(0deg 0% 0% / 8%), 0 4px 4px hsl(0deg 0% 0% / 8%), 0 8px 8px hsl(0deg 0% 0% / 8%), 0 16px 16px hsl(0deg 0% 0% / 8%);
}

.mot_dirigeante {
    font-family: 'Merienda', cursive;
    background: url(../asset/icons/right_quote.png) no-repeat right bottom;
    background-size: 1.8em;
    text-indent: -25px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-style: italic;
    width: 80%;
}

.mot_dirigeante::first-letter {
    background: url(../asset/icons/left_quote.png) no-repeat left top;
    background-size: 1.2em;
    padding-left: 25px;
    font-size: 1.8em;
}

.histoire #zohra {
    margin: 0;
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
    text-decoration: underline;
    font-style: initial;
}

#zohra_png_mot {
    align-self: flex-end;
    width: 30%;
    height: auto;
}


/* Partie objectifs avec les vignettes à gauche */

.presentation .nos_objectifs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    gap: 20px;
}

.nos_objectifs .bullet_point {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0;
}

.nos_objectifs .bullet_point li {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    color: #e7f1ff;
    background: linear-gradient(to bottom, #004CAE 0%, #004CAE 100%);
    border-top: 2px solid #004CAE;
    border-radius: 0.4em;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);
    list-style-type: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    gap: 15px;
}

.nos_objectifs .bullet_point li:hover {
    transform: translateX(+7px);
    color: #f0c95f;
}

.nos_objectifs .bullet_point li:hover img {
    transform: translateX(+3px);
}

.nos_objectifs .bullet_point li img {
    height: 100px;
    width: 100px;
    margin: 1%;
    background: linear-gradient(to bottom, #e7f1ff 0%, #e7f1ff 100%);
    border-bottom: 3px solid #fff;
    border-radius: 0.3em;
    transform: translateX(-1px);
}

.nos_objectifs .bullet_point li p {
    margin-left: 2%;
}

.nos_objectifs .text_objectif {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
}

.nos_objectifs .text_objectif #doSomethingGreat {
    height: 350px;
    width: 700px;
    border-radius: 14% 86% 22% 78% / 47% 58% 42% 53%;
    box-shadow: rgba(240, 201, 95, 0.4) 5px 5px,
                rgba(240, 201, 95, 0.3) 10px 10px, 
                rgba(240, 201, 95, 0.2) 15px 15px, 
                rgba(240, 201, 95, 0.1) 20px 20px, 
                rgba(240, 201, 95, 0.05) 25px 25px;
    object-fit: cover;
}

.text_objectif p {
    margin-top: 8%;
    margin-bottom: 0;
}



/* Partie experts avec les cartes profiles */

.experts_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    width: 100%;
    margin-bottom: 7%;
}

.intro_experts {
    width: 91%;
    text-align: justify;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.experts_container .renvoie {
    width: 91%;
    text-align: justify;
    align-self: center;
    font-size: 1.6rem;
    margin-bottom: 2.5%;
    line-height: 2.2rem;
}

.experts_container .renvoie a {
    text-align: center;
    font-size: 1.6rem;
    width: 22em;
    height: 1rem;
    transition: 0.5s ease;
    text-decoration: none;
    color: #f0c95f;
    border-bottom: #f0c95f00 2px solid;
    text-shadow: 1px 1px 2px black;
}

.experts_container .renvoie a:hover {
    border-bottom: #f0c95f 2px solid;
}

.experts_container .renvoie a:visited {
    text-decoration: none;
    color: #f0c95f;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
  
.team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #004CAE;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 0.3em;
    width: 18rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  
.team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    z-index: 1;
    position: relative;
}
  
.team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #f0c95f;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
  
.team:hover .picture::before {
    height: 100%;
}
  
.team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f0c95f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
  
.team:hover .picture img {
    box-shadow: 0 0 0 14px #e7f1ff;
    transform: scale(0.7);
}
  
.team .name {
    color: #fff;
}

.team .title {
    display: block;
    font-size: 15px;
    color: #e7f1ff;
    text-transform: capitalize;
}
  


/* Partie social media quand on passe sur les cartes */

.team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f0c95f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
  
.team:hover .social {
    bottom: 0;
}
  
.team .social li {
    display: inline-block;
}
  
.team .social li a {
    display: block;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.team .social li a img{
    height: 25px;
    width: 25px;
    padding: 10px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
  
.team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}



@media screen and (max-width: 1720px){
    .nos_objectifs .text_objectif #doSomethingGreat {
        height: 250px;
        width: 600px;
    }
}

@media screen and (max-width: 1550px){

    #bloc_presentation {
        width: 90%;
    }

    .nos_objectifs .text_objectif #doSomethingGreat {
        height: 250px;
        width: 600px;
    }
}

@media screen and (max-width: 1370px){
    .presentation .groupecfr {
        font-size: 1.3rem;
        justify-content: flex-start;
    }
    .mot_dirigeante {
        font-size: 1.3rem;
    }
    .nos_objectifs .text_objectif #doSomethingGreat {
        height: 150px;
        width: 500px;
    }
    .text_objectif p {
        font-size: 1.3rem;
    }

    .intro_experts {
        font-size: 1.3rem;
    }
    
    .experts_container .renvoie {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 1213px){
   
    .presentation .groupecfr {
        flex-direction: column;
        justify-content: flex-start;
    }

    .presentation .nos_objectifs {
        flex-direction: column;
        align-items: center;
    }

    .nos_objectifs .bullet_point {
        margin: auto;
        gap: 20px;
        order: 2;
    }
    .nos_objectifs .text_objectif {
        order: 1;
        width: 100%;
    }
    .text_objectif p {
        margin: 2%;
        width: 80%;
    }
}
@media screen and (max-width: 1000px){

    .presentation .groupecfr img {
        height: 250px;
        width: 460px;
    }
}

@media screen and (max-width: 835px){
    .mot_dirigeante {
        margin: 2rem 0;
    }
    #zohra_png_mot {
        display: none;
    }
}

@media screen and (max-width: 660px){

    .presentation .groupecfr img {
        height: 200px;
        width: 360px;
    }

    .presentation .groupecfr {
        justify-content: flex-start;
    }

    .nos_objectifs .text_objectif #doSomethingGreat {
        height: 150px;
        width: 400px;
    }

    .nos_objectifs .bullet_point {
        font-size: 1.3rem;
    }
    
    .nos_objectifs .bullet_point li img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 481px){
    .histoire h1 {
        font-size: 2.6rem;
    }

    .titre_section {
        font-size: 2rem;
    }

    .experts_container .renvoie a {
        font-size: 1rem;
    }

    .presentation .groupecfr {
        justify-content: flex-start;
        font-size: 0.8rem;
    }
    .mot_dirigeante {
        font-size: 0.8rem;
    }

    .nos_objectifs .bullet_point {
        font-size: 0.9rem;
    }
    
    .nos_objectifs .bullet_point li img {
        height: 50px;
        width: 50px;
    }

    .text_objectif p {
        font-size: 0.8rem;
    }
    
    .intro_experts {
        font-size: 0.8rem;
    }
    
    .experts_container .renvoie {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 417px){
    
    .presentation .groupecfr img {
        width: 300px;
    }
    .presentation .groupecfr {
        justify-content: flex-start;
    }
    .nos_objectifs .text_objectif #doSomethingGreat {
        width: 270px;
    }
}